<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
  <img width="600" src="https://media.glamour.com/photos/58bc369d27fb3a370fc15139/master/pass/Screen%20Shot%202017-03-05%20at%2011.02.09%20AM.png" />
</div>
<div class="container">
  <app-mascara></app-mascara>
  <app-lipstick></app-lipstick>
</div>
