<div class="row">
    <!-- here is where we hit the endpoint for the api we created to submit data gi-->
    <form class="col s12" action="http://localhost:3000/mascaras/create" id="mascaraform" enctype="multipart/form-data" method="post" name="createmascara">
    <h4>Add A Mascara</h4>
        <div class="row">
            <div class="input-field col s12 m12 l12 xl12">
                <label for="name">Name</label>
                <input id="name" type="text" placeholder="Name">
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 m6 l6 xl6">
                <label for="brand">Brand</label>
                <input id="brand" type="text" placeholder="Brand">
            </div>

            <div class="input-field col s6 m6 l6 xl6">
                <label for="color">Color</label>
                <input id="color" type="text" placeholder="Color">
            </div>
        </div>    
        
        <div class="row">     
            <div class="input-field col s12 m12 l12 xl12">
                <label for="description">Description</label>
                <textarea id="description" class="materialize-textarea" placeholder="Item Description"></textarea>
            </div>
        </div> 

        <div class="row">   
            <div class="input-field col s6 m6 l6 xl6">
                <label for="itemType">Item Type</label>
                <input id="itemType" type="text" value="Mascara">
            </div>

            <div class="input-field col s6 m6 l6 xl6">
                <label for="price">Price</label>
                <input id="price" type="text" placeholder="Price">
            </div>
        </div>

        <div class="row">  
            <div class="file-field input-field">
                <div class="btn">
                    <span>Add Image</span>
                     <input id="image" name="image.url" type="file">
                </div>   
                <div class="file-path-wrapper">
                    <input class="file-path-validate" type="text">
                </div>
            </div>     
        </div>  

        <div class="row">   
            <div class="input-field col s12 m12 l12 xl12">
                <button type="submit" class="btn waves-effect waves-light" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>    
    </form>
</div>